services:

  frontend:
    build:
      context: ./apps/frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    ports:
      - "8501:8501"
    environment:
      ENV: "development"
    volumes:
      - ./apps/frontend:/app     # <— THIS enables hot reload      
    networks:
      - common

  fastapi:
    build:
      context: ./apps/backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    ports:
      - "8010:8010"
    environment:
      ENV: "development"
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: ${POSTGRES_DB_ADMIN_USER}
      DB_PASS: ${POSTGRES_DB_ADMIN_PASSWORD}
      DB_NAME: ${POSTGRES_DB}      
    volumes:
      - ./apps/backend:/app     # <— THIS enables hot reload            
    networks:
      - common

  postgres:
    image: postgres:18
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_DB_ADMIN_USER}
      POSTGRES_PASSWORD: ${POSTGRES_DB_ADMIN_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./apps/storage/initdb:/docker-entrypoint-initdb.d
    networks:
      - common

volumes:
  postgres_data:      

networks:
  common:
    driver: bridge
