services:

  frontend:
    build:
      context: ./apps/frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    ports:
      - "8501:8501"
    environment:
      ENV: "development"
    volumes:
      - ./apps/frontend:/app     # <— THIS enables hot reload      
    networks:
      - common

  fastapi:
    build:
      context: ./apps/backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    ports:
      - "8010:8010"
    environment:
      ENV: "development"
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
    volumes:
      - ./apps/backend:/app     # <— THIS enables hot reload            
    networks:
      - common

networks:
  common:
    driver: bridge
